
@if (User.Identity.IsAuthenticated)
{
    @*<form asp-controller="Guestbook" asp-action="GuestBookPost" method="post">
        Title:  <input asp-for="Title" /> <br />
        Content: <input asp-for="Content" /><br />
        <button type="submit">Post</button>
    </form>*@
}